/* CSS untuk halaman utama dan About */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../images/about.jpg') no-repeat center center/cover;
    background-attachment: fixed; /* Gambar latar belakang tetap ketika scrolling */
    color: #faf7f7;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

/* CSS untuk halaman About */

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
    
}

.about-content {
    max-width: 600px;
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px; /* Menambahkan sedikit ruang antar paragraf */
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
